* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    padding: 30px;
    height: 1080px;
  }
  
  .left {
    width: 25%;
    
  }
  
  .right {
    width: 75%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    background-color: #efefef;
    color: #444440;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }

  h1 {
    color: rgb(38, 26, 18);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
  }

  h2 {
    color: #ffffff;
    font-family: 'Public Sans', sans-serif;
    font-size: 25px;
  }

  h3 {
    color: #444440;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 10px;
  }

  .foto-uvod {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .koduji {
    text-align: center;
    color: #444440;
    font-size: 35px;
    font-style: italic;
    font-weight: 100;
  }

  .kontakt,
  .vzdelani,
  .dovednosti,
  .staze,
  .pracovni-zkusenosti,
  .reference {
    background-color: #444440;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    text-shadow: 0 3px 10px rgb(0, 0, 0, 0.7);
  }

  p {
    padding: 10px;
  }

  ul {
    padding: 10px;
    padding-left: 30px;
  }

  a {
    color: #444440;
  }

  .fi {
    padding: 5px;
  }

  .dateio,
  .coffee {
    background-color: #efefef;
  }