
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

  .column {
    float: left;
    padding: 30px;
    
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%; 
  }
  

  body {
    background-color: #e8e7e5;
    color: #444440;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 31.8px;
    margin: 0 20px 10px 20px;
  }

  h1 {
    color: rgb(38, 26, 18);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
  }

  h2 {
    color: #ffffff;
    font-family: 'Public Sans', sans-serif;
    font-size: 2vw;
  }

  h3 {
    color: #444440;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  h4 {
    color: #444440;
    font-family: 'Lato', sans-serif;
  }

  p {
    padding-left: 20px;
  }

  .foto-uvod {
    width: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .insidethebox {
    text-align: center;
    color: #444440;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
  }

  .kontakt,
  .vzdelani,
  .dovednosti,
  .staze,
  .pracovni-zkusenosti,
  .reference,
  .zajmy {
    background-color: #3e352b;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    font-optical-sizing: auto;
  }

  ul {
    padding: 10px;
    padding-left: 20px;
    list-style: none;
  }

  a {
    color: #444440;
  }

  a:focus {
    color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }

  .fi {
    margin: 10px;
  }

  .dateio,
  .coffee {
    background-color: #efefef;
    border-radius: 20px;
    padding: 20px;
  }

  .glossa,
  .reference-dateio {
    padding: 20px;
  }

  .kontakt-detaily {
    padding-left: 10px;
  }

  .menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #271c10;
    border-radius: 20px 20px 0 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    margin-block: 20px;
    display: inline-block;
    border-radius: 5%;
    font-style: normal;
}

.menu a:hover {
    background-color: #3e352b;
}

.menu a:focus {
    background-color: #3e352b;
}
.menu a:active {
    background-color: #3e352b;
}

.paticka {
  background-color: #271c10;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
  width: 100%;
}

